body {
    background-image: url('https://img1.cgtrader.com/items/785419/e89506d46b/cartoon-underwater-ship-scene-3d-model-obj-fbx-ma-mb-mtl-tga.jpg');
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
}

* {
    box-sizing: border-box;
}

/* questions */

.container {
    background-color: lightblue;
    text-align: center;
    margin: auto;
    max-width: 760px;
}

h1 {
    color: purple;
    padding: 20px;
   
}

h3 {
    font-size: 12px;

}

label {
    /* float: left; */
    display: inline-block;
    padding: 25px;
}